    * {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
    }

    a {
      color: black;
      text-decoration: none;
    }

    p {
      margin: 0;
      padding: 0;
    }

    .App {
      width: 100%;
      background-color: aliceblue;
    }

    .App .nav {
      width: 1280px;
      margin: 0 auto;
    }

    .logo {
      width: 150px;
      height: auto;
    }

    .gnb {
      display: flex;
      flex-grow: 1;
      padding-right: 1rem;
    }

    .gnb .lnb.nav-link {
      width: 80px;
      text-align: center;
    }

    .gnb .lnb.nav-link.active {
      color: #008BE5;
      font-weight: bold;
    }

    .loginbtn {
      width: 40px;
      height: 40px;
      border: none;
      background-color: white;
      border-radius: 10px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
    }

    .loginbtn img {
      width: 30px;
      height: 30px;
    }

    .btncart {
      width: 40px;
      height: 40px;
      border: none;
      background-color: white;
      border-radius: 10px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btncart img {
      width: 30px;
      height: 30px;
    }

    .footer {
      overflow: hidden;
      width: 100%;
      background-color: #F5F5F5;
    }

    .footer .footerBox {
      width: 1280px;
      margin: 0 auto;
      display: flex;
    }

    .footerBox p {
      margin: 0;
      padding: 2px 0;
    }

    .footer .footerBox .footerLeft {
      margin: 50px;
      width: 50%;
    }

    .footer .footerBox .footerLeft .footerLogo {
      width: 150px;
      margin-bottom: 20px;
    }

    .footer .footerBox .footerLeft .footerMid {
      margin-bottom: 50px;
    }

    .footer .footerBox .footerLeft .footerMid>div span {
      padding: 10px;
    }

    .footerBox .text01 {
      font-size: 14px;
      font-weight: bold;
      margin-right: 20px;
      margin-left: 10px;
    }

    .footerBox .text02 {
      font-size: 14px;
    }

    .footerBox .footerBot .text03 {
      font-size: 14px;
      margin: 0 10px;
    }

    .footerBox .footerRight .text04 {
      font-size: 30px;
      font-weight: bold;
    }

    .footerBox .footerBot .footerTxt01 {
      display: flex;
    }

    .footerBox .footerBot .footerTxt01 .footertxt01 {
      display: flex;
    }

    .footerBox .footerBot .footerTxt01 .footertxt02 {
      display: flex;
    }

    .footerBox .footerBot .footertxt03 {
      display: flex;
    }

    .footerBox .footerBot .footertxt04 {
      display: flex;
    }

    .footerBox .footerBot .footertxt05 {
      display: flex;
    }

    .footerBox .footerBot .footerTxt02 {
      display: flex;
    }

    .footerBox .footerBot .footerTxt02 .footertxt06 {
      display: flex;
    }

    .footerBox .footerBot .footerTxt02 .footertxt07 {
      display: flex;
    }

    .footerBox .footerRight {
      width: 640px;
      height: 220px;
      margin-top: 160px;
    }

    .footerBox .footerRight .footertxt08 {
      display: flex;
    }

    .footerBox .footerRight .footertxt09 {
      display: flex;
    }

    .footerBox .footerRight .footertxt11 {
      padding: 0 15px;
    }